torch
torchvision

tqdm
python-dotenv
python-multipart
pandas
mlflow
joblib
ensure
scipy
numpy
fastapi
uvicorn
python-box
pyYAML
types-PyYAML
scikit-learn
dagshub
pymongo[srv]==3.12
google-cloud-storage